<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="a happy smiling images">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="qutoe__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse explicabo dolorum
                suscipit
                iure velit deleniti
                reprehenderit laudantium saepe maiores molestias?</p>
            <footer>
                <div class="media">
                    <div class="media_image">
                        <svg class="icon icon--primary quote__line">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media_body">
                        <h3 class="media_title quote__author">
                            John smith
                        </h3>
                        <p class="quote__organization">ABC Company</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>